.jumbotron{
	background-image: url("../assets/images/justice-league-4k-lu.jpg");
	height:400px;
	background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center top;              /* optional, center the image */
}
